.tipografico article {
  padding: 1rem;
  display: grid;
  grid-gap: 2rem;
  max-width: 30rem;
  margin: 2rem auto;
}

.tipografico aside div {
  position: relative;
}
.tipografico h1 a::before {
  content: "⇪";
  margin-top: 1rem;
  font-size: 2rem;
  transform: rotate(-90deg);
  display: inline-block;
  width: fit-content;
}
.tipografico img {
  max-width: 100%;
  max-height: 100%;
}
.tipografico .projeto-categoria {
  font-size: 1.2rem;
}
.tipografico .projeto-categoria::before {
  content: "";
  border: 1px solid #002;
  display: inline-block;
  width: 2rem;
  margin-right: 0.25rem;
  transform: translateY(-0.25rem);
}
.tipografico .projeto-galeria {
  display: flex;
  flex-wrap: wrap;
}
.tipografico .projeto-imagem {
  margin: 0.5rem;
}

.tipografico #projeto-libras img {
  border: 2px solid darkolivegreen;
  border-radius: 2px;
}
.tipografico .projeto-descricao {
  position: relative;
}
.tipografico .projeto-descricao span {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 4rem;
  opacity: 0.2;
  line-height: 1;
  color: crimson;
  transform: translate(-30%, -20%);
}

@media (min-width: 48rem) {
  .tipografico article {
    grid-template-columns: min-content minmax(6rem, 18rem) minmax(12rem, auto);
    max-width: 60rem;
  }
  .tipografico h1 {
    grid-row: 1/3;
    grid-column: 1/2;
    text-align: right;
    position: sticky;
    top: 1rem;
  }
  .tipografico h1 a::before {
    transform: rotate(0deg);
  }
  .tipografico h2 {
    position: sticky;
    top: 1rem;
  }
  .tipografico .projeto-galeria {
    grid-column: 3;
  }
  .tipografico #projeto-hocca .projeto-imagem {
    max-height: 540px;
  }
  .tipografico #projeto-guia .projeto-imagem {
    max-width: 420px;
    max-height: 420px
  }
  .tipografico #projeto-libras .projeto-imagem {
    max-width: 540px;
    max-height: auto;
  }
