.tipografico main {
    padding: 1rem;
    display: grid;
    grid-gap: 2rem;
    max-width: 30rem;
    margin: 2rem auto;
}
.tipografico #bio {
    position: relative;
}

.tipografico #bio > *:not(b) {
    position: relative;
    z-index: 9;
}
.tipografico #bio b {
    top: 2rem;
    left: -2rem;
    width: 4rem;
    height: 6rem;
    border: 1.8rem solid crimson;
    position: absolute;
    opacity: .2;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.tipografico .projeto-pag-principal {
    margin-bottom: 2rem;
}

.tipografico .projeto-pag-principal .projeto-thumb {
    display: block;
    height: 20rem;
    opacity: .5;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    transition: all .2s linear;
}

.tipografico .projeto-pag-principal:hover .projeto-thumb {
    background-blend-mode: normal;
    opacity: 1;
}
.tipografico #hocca .projeto-thumb {
    background: maroon url(../../img/AgroMulheres_digital.png);
    background-size: 160%;
    background-position: -47px -15px;
}
.tipografico #guia-medicinal .projeto-thumb {
    background: maroon url(../../img/cartilha-capa.png);
    background-size: cover;
}
.tipografico #livro-libras .projeto-thumb {
    background: maroon url(../../img/lit-libras-1.png);
    background-size: 200%;
    background-position: -20px 0px;
}

.tipografico .projeto-categoria {
    font-size: 1.1rem;
}
.tipografico .projeto-categoria::before {
    content: "";
    border: 1px solid #002;
    display: inline-block;
    width: 1rem;
    margin-right: 0.25rem;
    transform: translateY(-.25rem);
}

.tipografico *:target {
    animation: destaque 1s ease;
}


@media(min-width: 48rem) {
    .tipografico main {
        grid-template-columns: min-content minmax(6rem, 18rem) auto;
        max-width: 60rem;
    }
    .tipografico .projeto-pag-principal {
        display: grid;
        grid-template-columns: 10rem 1fr;
        grid-column-start: 3;
        grid-template-rows: min-content min-content max-content;
        gap: 0 0.5rem;
    }

    .tipografico .projeto-pag-principal .projeto-thumb {
        grid-row: 1/4;
        height: 7rem;
    }

    .tipografico #contato {
        grid-column-start: 2;
    }

    .tipografico #portfolio {
        grid-column-start: 3;
    }

}

@keyframes destaque {
    0% {
        filter:drop-shadow(0 0 0 #f004)
    }
    30% {
        filter:drop-shadow(0 -10px 0 #f004)
    }
    70% {
        filter:drop-shadow(0 -10px 0 #f004)
    }
    100% {
        filter:drop-shadow(0 0 0 #f004)
    }
}
