/* Tipografia e estilos globais */
.tipografico {
    --text-color: #002;
}

body.tipografico {
    font-family: 'EB Garamond', serif;
    font-size: 20px;
    line-height: 1.2;
    background-color: #ffffee;
    color: var(--text-color);
}

.tipografico h1 {
    font-size: 2.5rem;
    line-height: 1;
}

.tipografico h3 {
    font-size:1.2rem;
    margin-bottom: 0.25rem;
}

.tipografico h1, h2, h3{
    margin: .5rem 0;
    line-height: 1;
}

.tipografico a {
    text-decoration: none;
    color: darkolivegreen;
}

.tipografico p {
    margin: 0 0 .5rem 0;
}

.tipografico p a {
    text-transform: uppercase;
    font-size: .9rem;
}

.tipografico ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.tipografico .tema-seletor {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid crimson;
    font-size: 1rem;
    line-height: 0;
    height: 2rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.tipografico .tema-seletor.ativo {
    border-bottom: 3px solid crimson;
}

@media (min-width: 48rem) {
    .tipografico h1 {
        font-size: 4rem;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        text-align: right;
    }
    .tipografico h2 {
        font-size: 2rem;
    }
}
