.fancy main {
	display: grid;
	gap: 1rem 2rem;
	max-width: 30rem;
	margin: 3rem auto;
}

.fancy .projeto-pag-principal {
	margin: 2rem 0;
}

.fancy .projeto-pag-principal .projeto-thumb {
	display: block;
	height: 10rem;
	opacity: .5;
	background-blend-mode: luminosity;
	background-repeat: no-repeat;
	transition: all .2s linear;
}

.fancy .projeto-pag-principal:hover .projeto-thumb {
	opacity: 1;
}
.fancy #hocca .projeto-thumb {
	background: var(--text-color) url(../../img/AgroMulheres_digital.png);
	background-size: 160%;
	background-position: -47px -15px;
}
.fancy #guia-medicinal .projeto-thumb {
	background: var(--text-color) url(../../img/cartilha-capa.png);
	background-size: cover;
}
.fancy #livro-libras .projeto-thumb {
	background: var(--text-color) url(../../img/lit-libras-1.png);
	background-size: 200%;
	background-position: -20px 0px;
}

.fancy .projeto-pag-principal:hover h3 a {
	color: var(--hl-color);
}

.fancy .projeto-pag-principal h3 {
	margin-bottom: 0;
}

.fancy .projeto-pag-principal .projeto-thumb {
	margin-bottom: 0.5rem;
}
.fancy .projeto-pag-principal .projeto-categoria {
	margin-bottom: 0.5rem;
	opacity: 0.8;
}

@media(min-width: 48rem) {
	.fancy main {
		max-width: 60rem;
		grid-template-columns: repeat(3, 1fr);
		grid-template-areas:
		"bio_ bio_ bio_"
		"head head head"
		"prj_ prj_ prj_"
		"cntt ptfl ptfl"
		;
	}

	.fancy h1,
	.fancy h2,
	.fancy h3,
	.fancy p { 
		margin: 0;
	}

	.fancy h1 {
		grid-area: head;
	}

	.fancy #bio,
	.fancy #projetos {
		border-bottom: 1px solid var(--text-color);
		border-top: 1px solid var(--text-color);
		padding: 1rem 0;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem 2rem;
	}

	.fancy #bio {
		grid-area: bio_;
	}
	.fancy #bio b { display: none; }
	.fancy #bio h2 {
		grid-column: 1/4;
	}

	.fancy #projetos {
		grid-area: prj_;
	}

	.fancy #projetos h2,
	.fancy #projetos > p {
		grid-column: 1/4;
	}

	.fancy .projeto-pag-principal {
		margin: 1rem 0;
	}

}
