.fancy article {
	max-width: 30rem;
	margin: 3rem auto;
	padding: 1rem;
}

.fancy h1 {
	font-size: 2rem;
}

.fancy h2 {
	font-size: 4rem;
	line-height: .8;
}

.fancy .projeto-categoria::before {
	content: "— ";
}

.fancy .projeto-descricao span {
  display: none;
}

.fancy .projeto-imagem img {
	max-width: 100%;
	max-height: 32rem;
}

@media(min-width: 48rem) {
	.fancy h2 {
		font-size: 8rem;
	}
	.fancy article {
		max-width: 60rem;
	}
	.fancy .projeto-galeria {
		display: flex;
		gap: 1rem;
		flex-wrap: wrap;
	}
}
