.fancy {
	font-family: "Gabarito", sans-serif;
	font-size: 20px;
	line-height: 1.2;
	--text-color: black;
	--bg-color: white;
	--hl-color: violet
}

.fancy h1 {
	font-weight: 900;
	font-size: 4rem;
	text-align: center;
}

.fancy a {
	color: var(--text-color);
	transition: color linear 0.1s;
}

.fancy a:hover {
	color: var(--hl-color);
}

.fancy .projeto-pag-principal p {
	margin: 0;
}

.fancy .tema-seletor {
    background-color: var(--bg-color);
    border: 0;
    font-size: 1rem;
    line-height: 0;
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.fancy .tema-seletor.ativo {
	color: var(--hl-color);
	font-size: 1.2rem;
}

@media(min-width: 48rem) {
	
	.fancy h1 {
		font-size: 10rem;
	}
}
