.code main {
   padding: 1rem;
   max-width: 30rem;
   margin: auto;
}
.code #bio b {
   display: none;
}

.code h1 { margin-bottom: 0;}
.code h1:after {
   content: ": {";
   display: inline;
   margin-left: 0;
}
.code #bio h2:before { content: "bio_head: { "; }
.code #bio p:first-of-type:before { content: "bio_text: { "; }

.code #projetos h2:before { content: "prj_head: { "; }
.code #projetos > p:before { content: "prj_text: { " }
.code #projetos > .projeto-pag-principal:first-of-type:before {
   content: "prj_list: [ ";
   margin-top: -9rem;
}
.code #projetos > .projeto-pag-principal:after {
   content: ",";
   margin-right: -1rem;
   text-align: right;
}
.code #projetos:after {
   content: "],";
   margin-left: 1rem;
}

.code #contato h2:before { content: "contact_head: { "; }
.code #contato ul:before { content: "contact_list: [ "; }
.code #contato li:after {
   content: ",";
   display: inline;
   margin-left: 0;
}
.code #contato ul:after {
   content: "],"
}
.code #portfolio:before { content: "cv_link: {"}

.code #portfolio:after { content: "}"}

.code #bio h2:after,
.code #projetos h2:after,
.code #contato h2:after,
.code #projetos > p:after,
.code #bio p:last-of-type:after {
   content: " },";
}

.code main:after {
   content: "}";
   margin-left: 0;
}

.code #projetos .projeto-pag-principal {
   border: 1px solid lightgreen;
   display: grid;
   grid-template-rows: min-content min-content auto;
   margin-top: 2rem;
   margin-bottom: .5rem;
}
.code .projeto-pag-principal h3,
.code .projeto-pag-principal .projeto-descricao { padding-left: 1rem; }

.code .projeto-pag-principal .projeto-categoria,
.code .projeto-pag-principal .projeto-thumb {
   margin-bottom: 0;
   align-self: end;
   grid-row-start: 1;
   grid-column-start: 1;
}
.code .projeto-pag-principal .projeto-categoria {
   pointer-events: none;
}
.code .projeto-pag-principal .projeto-thumb {
    width: 100%;
    height: 7rem;
    opacity: .25;
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
}

.code .projeto-pag-principal:hover .projeto-thumb {opacity: .4}

.code #hocca .projeto-thumb {
    background: lightgreen url(../../img/AgroMulheres_digital.png);
    background-size: 160%;
    background-position: right center;
}
.code #guia-medicinal .projeto-thumb {
    background: lightgreen url(../../img/cartilha-capa.png);
    background-size: cover;
    background-position: center;
}
.code #livro-libras .projeto-thumb {
    background: lightgreen url(../../img/lit-libras-1.png);
    background-size: 200%;
    background-position: 30px center;
}

.code .projeto-pag-principal h3 {
   margin: 0;
   padding: 1rem 0 1rem 1rem;
   border-top: 1px solid lightgreen;
   border-bottom: 1px solid lightgreen;
}

.code .projeto-pag-principal .projeto-descricao {
   font-style: italic;
}

.code #contato ul {
   padding: 0;
   list-style: none;
}

@media(min-width: 48rem) {
   .code main {
      max-width: 60rem;
   }
   .code #projetos {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr;
       column-gap: 1rem;
       max-width: 1200px;
   }
   .code #projetos > *:not(div) {
       grid-column: 1/4;
   }
   .code #bio > *,
   .code #projetos > *,
   .code #contato > *,
   .code #portfolio {
      margin: 0 0 0 2rem;
   }
}
