.code article {
  padding: 1rem;
  max-width: 30rem;
  margin: auto;
}
.code .projeto-descricao span {display: none;}
.code aside > * {
   margin: 0 0 0 2rem;
}
.code h1 { margin-bottom: 0;}
.code h1:after {
   content: ": {";
   display: inline;
   margin-left: 0;
}

.code aside h2:before { content: "prj_name: {"; }
.code aside .projeto-categoria:before { content: "prj_kind: {"; }
.code aside .projeto-descricao:before { content: "prj_text: {"; }

.code aside h2:after,
.code aside .projeto-categoria:after,
.code aside .projeto-descricao:after {
   content: " },";
}
.code aside:after {
  content: "}";
  margin-left: 0;
}

.code .projeto-descricao span {
  display: none;
}

.code .projeto-galeria {
  display: flex;
  flex-wrap: wrap;
}

.code .projeto-imagem {
  margin: 0.5rem;
}

.code img {
  max-width: 100%;
  max-height: 100%;
}

@media (min-width: 48rem) {
  .code article {
    max-width: 60rem;
  }

  .code #projeto-hocca .projeto-imagem {
    max-height: 540px;
  }
  .code #projeto-guia .projeto-imagem {
    max-width: 420px;
    max-height: 420px
  }
  .code #projeto-libras .projeto-imagem {
    max-width: 540px;
    max-height: auto;
}
