/* Tipografia e estilos globais */
.code {
    --text-color: lightgreen;
    --highlight-color: dodgerblue;
}

body.code {
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    background-color: #100000;
    color: var(--text-color);
}

.code p {
    max-width: 40rem;
}
.code a {
    color: var(--highlight-color);
    transition: color .2s linear;
}

.code a:not(.projeto-thumb):hover {
    animation: blink .2s linear forwards;
}
 
.code .tema-seletor {
    background-color: black;
    border: 1px solid var(--text-color);
    border-radius: 2px;
    color: 1px solid var(--text-color);
    font-size: 1rem;
    line-height: 0;
    height: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.code .tema-seletor.ativo {
    border: 3px solid var(--highlight-color);
}

.code *:before,
.code *:after {
   color: lightgray;
   display: block;
   margin-left: -1rem;
   font-size: .8rem;
   font-weight: 400;
   opacity: .8;
}

@keyframes blink {
    0%{
        opacity: 1;
    }

    50% {
        opacity: 0;
        color: var(--highlight-color);
    }
    100% {
        opacity: 1;
        color: aquamarine;
    }
}
